body{
    margin-top: 70px;
    background-color: #d4d4d4;
    margin-bottom: 70px;
}

p {
    font-size: 1.2em;
}
h1 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}
li {
    font-size: 1.2em;
}

footer {
    margin-top: 30px;
}
#greenleaf-brand {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #fff;
    font-size: 2.4em;
    padding:15px;
    text-shadow: 1px 1px 1px #999;
}

.greenleaf-navbar {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

#tour-page h2 {
    font-size: 2.5em;
}
.homepage {
    background: url('../img/building-background.png') center center fixed !important;
    -webkit-background: cover !important;
    -moz-background: cover !important;
    background-size: cover !important;
}
.well {
    border: 1px solid #777;
}

.available-now {
    width: 100%;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    text-align: center;
    background-color: #5cb85c;
    background-image: -moz-linear-gradient(to bottom, #5cb85c, #448744);
    background-image: -webkit-linear-gradient(top, #5cb85c, #448744);
    background-image: -webkit-linear-gradient(to bottom, #5cb85c, #448744);
    background-image: -o-linear-gradient(to bottom, #5cb85c, #448744);
    background-image: linear-gradient(to bottom, #5cb85c, #448744);
    background-repeat: repeat-x;
}

.jumbotron{
    background: rgba(0, 0, 0, 0.7);
    padding: 25;
    font-family: 'Century Gothic', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.jumbotron h1{
    color:#337BC7;
    font-weight: bold;
    text-shadow: 1px 1px 0 #333;
}

.jumbotron h2 {
    font-size: 30px;
    color: #fff;
    text-shadow: 1px 1px 1px #999;
}

.jumbotron p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#fff;
    padding: 15px 0;
    text-shadow: 1px 1px 0 #333;
}

.jumbo-img{
    height:100%;
    display:block;
}

.instant-btn {
    background-color: #ed3d24;
    background-image: -moz-linear-gradient(to bottom, #ed3d24, #bf3222);
    background-image: -webkit-linear-gradient(top, #ed3d24, #bf3222);
    background-image: -webkit-linear-gradient(to bottom, #ed3d24, #bf3222);
    background-image: -o-linear-gradient(to bottom, #ed3d24, #bf3222);
    background-image: linear-gradient(to bottom, #ed3d24, #bf3222);
    background-repeat: repeat-x;
    margin-right:15px;
    margin-bottom:10px;
    color:#FFF;
    font-family: "Trebuchet MS", Trebuchet, Arial, Helvetica,sans-serif;
    font-weight: 200;
    font-size:18px;
}

.instant-btn:hover, .instant-btn:focus, .instant-btn:active, .instant-btn.active, .instant-btn.disabled, .instant-btn[disabled] {
    color: #ffffff;
    background-color: #bf3222;
    box-shadow: 1px 1px 10px 1px #666;
}

.request-btn {
    background-color: #009dea;
    background-image: -moz-linear-gradient(to bottom, #009DEA, #0074ab);
    background-image: -webkit-linear-gradient(top, #009DEA, #0074ab);
    background-image: -webkit-linear-gradient(to bottom, #009DEA, #0074ab);
    background-image: -o-linear-gradient(to bottom, #009DEA, #0074ab);
    background-image: linear-gradient(to bottom, #009DEA, #0074ab);
    background-repeat: repeat-x;
    margin-right:15px;
    margin-bottom:10px;
    color:#FFF;
    font-family: "Trebuchet MS", Trebuchet, Arial, Helvetica,sans-serif;
    font-weight: 200;
    font-size:18px;
}

.request-btn:hover, .request-btn:focus, .request-btn:active, .request-btn.active, .request-btn.disabled, .request-btn[disabled] {
    color: #ffffff;
    background-color: #0074ab;
    box-shadow: 1px 1px 10px 1px #666;
}


#beta-btn{
    text-transform: uppercase;
}

.quote{
    font-style:italic;
    text-align: center;
    color:#fff;
    font-size:1.5em;
    line-height:1.5em;
}
#customer-quote {
    background-color: rgba(67, 127, 195, 0.8);
    padding: 50px;
}

.author{
    font-style: normal;
    font-size:1.2em;
    font-weight:bold;
    color:#fff;
    text-shadow: 1px 1px 1px #999;
    text-align: center;
    margin-top:10px;
}

.valuebox{
    padding:10px 15px;
    margin: 15px 0;
}
.value-header{
    font-size:2em;
    text-transform:uppercase;
}

.value-text{
    margin-top:15px;
}
.borderbox {
    border-right: 1px solid #fff;
}

#chime-value{
    background-color: rgba(0,0,0,0.7);
    color:#FFF;
    font-size:1.2em;
    line-height:1.6em;
    margin-top:30px;
    padding:40px;
    text-shadow: 2px 2px 2px rgba(003,003,003,0.4);
}

#instant img{
    margin-top:-15px;
}

.instantTeam{
    margin:5px 15px;
}
.instantTeam img{
}
/* Sidebar Navigation*/
.instant-side-nav .nav>li>a:hover,
.instant-side-nav .nav>li>a:hover{
    background-color:transparent;
    border-left: 2px solid #437FC3;
    padding: 2px 18px;
}

.instant-side-nav .nav>.active>a,
.instant-side-nav .nav>.active:hover>a,
.instant-side-nav .nav>.active:focus>a{
    padding-left: 18px;
    font-weight: 700;
    color: #437FC3;
    background-color: transparent;
    border-left: 2px solid #437FC3;
}

.bs-docs-sidebar .nav>li>a{
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #999;
    padding: 4px 20px;
}
/*sub-menu*/
.instant-side-nav .nav .nav>.active>a,
.instant-side-nav .nav .nav>.active:hover>a,
.instant-side-nav .nav .nav>.active:focus>a{
    font-weight: 500;
    padding-left:28px;
}

.instant-side-nav .nav .nav>li>a{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 400;
}

.instant-side-nav .nav>.active>a,
.instant-side-nav .nav>.active:hover>a,
.instant-side-nav .nav>.active:focus>a{
    padding-left: 18px;
    font-weight: 700;
    color: #437FC3;
    background-color: transparent;
    border-left: 2px solid #437FC3;
}

.instant-side-nav .nav>li>a{
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #555;
    padding: 4px 20px;
}

.to-top{
    color:#999;
    font-size:11px!important;
    margin-top:10px;
}
/* ### Affix styling ### */
.affix{
    top: 25px;
    margin-top:0;
}

.download-bot{
    margin-top:25px;
}


.reports-table {
    margin-bottom: 70px;
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

.system-charts-header {
    text-align: center;
    text-shadow: 0 1px 0 #333;
}

th {
    text-decoration: underline;
    text-align: center;
}

td> a {
    text-decoration: underline;
    font-weight: bold;
    color: #428bca;
}

#feature-content {

}

#charts-reports-section {
    text-shadow: 0 1px 0 #333;
    text-align: center;
}

#managers-admins {
    text-shadow: 0 0 0;
    text-align: left;
    font-size: 16px;
}

.fancybox-title-float-wrap .child {
    font-size: 1.3em;
    background: #437FC3;
    text-shadow: 0 1px 2px #666;
}
#side-nav {
    margin-top: 70px;
}

.bottom-padding-30 {
    padding-bottom: 30px;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
}

.padding-left {
    padding-left: 22%;
}

.bottom-space-10 {
    margin-bottom: 10px;
}

.bottom-space-30 {
    margin-bottom: 30px;
}

.bottom-space-50 {
    margin-bottom: 50px;
}

.bottom-space-70 {
    margin-bottom: 70px;
}

.bottom-padding-30 {
    padding-bottom: 30px;
}

#hoot{
    background:url("/img/hoot.png") no-repeat;
    background-size: contain;
    height:270px;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
}

.padding-left {
    padding-left: 22%;
}

.color-chime-black {
    color: #333;
}

.instant-chime-bold {
    font-weight: 700;
}

.button-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}



@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        /*float: none!important;*/
        margin-top: 8px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height: none;
    }
}

.video-shadow {
    box-shadow: 2px 2px 8px 4px #777;
}

.video-shadow:hover {
    box-shadow: 2px 2px 8px 4px #2983C5;
}

.image-shadow {
    border-radius: 3px;
    box-shadow: 1px 1px 8px 1px #777;
}

.image-shadow:hover {
    box-shadow: 0 0 8px 4px #2983C5;
}

/*  Social Icons  */
.instant-social {
    font-size: 2em;
}
.instant-social-a:hover, .instant-social-a:visited, .instant-social-a:active, .instant-social-a:focus {
    text-decoration: none;
}
#instant-facebook {
    color: #3b5998;
}
#instant-facebook:hover {
    color: #3a407e;
}
#instant-twitter {
    color: #00aced;
}
#instant-twitter:hover {
    color: #008ecb;
}
#instant-linkedin {
    color: #007bb6;
}
#instant-linkedin:hover {
    color: #005b8f;
}
#instant-youtube {
    color: #bb0000;
}
#instant-youtube:hover {
    color: #940000;
}
/*  END - Social Icons  */


.available-div {
    margin-top: 30px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 30px;
}
.available-bottom {
    margin-top: 30px;
    padding-bottom: 30px;
}

#google-iframe iframe {
    width: 100%;
    min-height: 300px;
    box-shadow: 1px 1px 10px 1px #666;
}
#google-iframe {
    margin-top: 30px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 30px;
}

.border-bottom {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 30px;
}
.top-space-30 {
    margin-top: 30px;
}

.no-gutter > [class*='col-'] {
    padding-right: 2px;
    padding-left: 2px;
}

.glyphicons:before {
    padding: 0;
}

/*.navbar-default {
    background-color: #fffff0;
    border-color: #cbcbbe;
}*/


.carousel {
    box-shadow: 2px 2px 8px 2px #777;

}

.navbar-brand {
    padding: 1px 15px;
}


.field {
    margin: 1em 0;
}

label {
    display: block;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

input {
    width: 100%;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
}

.contact-button {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

button:hover, button:focus {
    opacity: 0.75;
    cursor: pointer;
}

button:active {
    opacity: 1;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

.success {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.error {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tour-page-section {
    padding-top: 60px;
    margin-top: -50px;
}

.top-space-10 {
    margin-top: 10px;
}
.top-space-20 {
    margin-top: 20px;
}

