
/* Global Settings
======================================================================================================================================================*/

body {
    background: url('../img/icons/1.png') center center fixed !important;
    -webkit-background: cover !important;
    -moz-background: cover !important;
    background-size: cover !important;

}

.mobile {
    margin-top: -30px;
}

.bottom-space-10 {
    margin-bottom: 10px;
}

.bottom-space-20 {
    margin-bottom: 20px;
}
.bottom-space-30 {
    margin-bottom: 30px;
}
.bottom-space-40 {
    margin-bottom: 40px;
}

.bottom-space-50 {
    margin-bottom: 50px;
}
.bottom-space-60 {
    margin-bottom: 60px;
}
.bottom-space-70 {
    margin-bottom: 70px;
}
.bottom-space-80 {
    margin-bottom: 80px;
}
.bottom-space-90 {
    margin-bottom: 90px;
}
.bottom-space-100 {
    margin-bottom: 100px;
}


.img-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.top-space-100 {
    margin-top: 100px;
}
.top-space-50 {
    margin-top: 50px;
}

.top-space-20 {
    margin-top: 25px;
}

.top-space-25 {
    margin-top: 25px;
}

.gofetch-modal {
    color: #000;
    background-color: transparent;
}

/* Navbar
==========================================================*/
.nav-container {
    padding-left: 50px;
    padding-right: 50px;
}



.mobile-nav-menu {
    color: #ffffff;
    padding: 0 0 0 15px;

}

.mobile-nav-menu>a {
    color: #ffffff;
}

.white {
    color: #ffffff;
}

.img-space-left {
    margin-left: 10px;
}

.fonticon {
    font-size: 40px;
    vertical-align: middle;
    color: #fa0808;
    text-shadow: 0 1px 1px #ffffff;

}

#quote-btn {
    background-color: #fa0808;
    color: #ffffff;
    margin-left: 20px;
    text-shadow: 0 1px 2px #333333;
}

.hidden {
    visibility: hidden;
}

.modal-xs {
    width: 1025px;

}

.modal-sm {
    width: 1025px;

}

.modal-md {
    width: 1025px;

}
.modal-lg {
    width: 1025px;

}

/* Navbar END
==========================================================*/


/*==============================================================================================================================*/


/* Footer
==========================================================*/

.grey {
    color: #9d9d9d;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.circle-logo {
    background-color: #009dea;
    padding-top: 4px;
    border: solid 1px #ffffff;
}



/* Footer END
==========================================================*/

/*==============================================================================================================================*/



/* Social Buttons
==========================================================*/

.social-list {
    margin-right: 25px;
    list-style-type: none;
}

.static {
    position: fixed;
}

.social-div {
    right: 0;
    top: 100px;
    position: fixed;
    z-index: 999;
}

.contact-icon span{
    color: #fa0808;
    font-size: 64px;
    line-height: 39px;
    display: inline-block;
    background-color: #fff;
    text-transform: uppercase;
    padding: 0 0;
    margin-top: 16px;
    margin-left: 3px;

}

.logo-btn {
    background-color: #009dea;
    width: 55px;
    display: block;
    margin: 5px;
    border: solid 2px #fff;

}



/* Social Buttons END
=============================================================*/






/* Global Settings END
===================================================================================================================================*/


/*==============================================================================================================================*/

/* Home Page Mobile -xs -sm
=============================================*/

.logo-xs {
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 999;

}

.gofetch-jumbo-xs {
    background-color: rgba(0, 157, 234, .85);
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    border: solid 2px #fa0808;

}

.gofetch-container-fluid {
    background-color: rgba(0, 157, 234, .85);
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 0 1px 2px #333333;

}

.section-h3 {
    text-shadow: 0 2px 1px #000;
}

.gofetch-btn-xs {
    background-color: #fa0808;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-shadow: 0 1px 2px #333333;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    background-color: #ffffff;
    color: #fa0808;
    border-color: #adadad;
    text-shadow: 0 0 0 #333333;
}

.hidden-jumbo-xs {
    height: 100px;
}

.seo {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: solid 1px #000;
    padding: 2px;

}

.seo-btn {
    background-color: #fff;
    border: solid 1px #000;
}

.logo-img {
    margin-left: auto;
    margin-right: auto;
    background-color: #009dea;
    border: solid 2px #fa0808;
    margin-bottom: 20px;
    padding-top: 2px;

}

.logo-home {
    background-color: #009dea;
    border: solid 1px #ffffff;
}

.img-gfw-xs {
    border-radius: 20px;
    box-shadow: 0 0 8px 2px #444;
}

/* Home Page Mobile -xs -sm  END
==============================================*/


/* Home Page -md -lg
==============================================*/

.home-h1 {
    font-size: 3.5em;
}

.jax-sect {
    height: 700px;
}

.jax-sect-serv {
    height: 700px;
}

.jax1 {
    background: url('../img/iStock/background/home-sm.jpg') center !important;
    background-size: cover !important;
    height: 700px;
}

#home-lg {
    background: url('../img/iStock/background/home-sm.jpg') center center fixed !important;
    -webkit-background: cover !important;
    -moz-background: cover !important;
    background-size: cover !important;
    height: 800px;
}
/*
@media screen and (min-width: 1673px) {
    #home-lg {
        height: 1148px;
    }
}*/



.big-logo {
    background: rgba(0,157,234,.8);
    padding: 10px;
    border-radius: 6px;
}

.title-h1 {
    background: rgba(0, 0, 0, .8);
    padding: 10px;
    border-radius: 6px;
    display: inline-block;
}





.jax2 {
    background: url('../img/iStock/background/services-sm.jpg') center !important;
    background-size: cover !important;
    height: 700px;
}

#services-lg {
    background: url('../img/iStock/background/services-sm.jpg') center center fixed !important;
    -webkit-background: cover !important;
    -moz-background: cover !important;
    background-size: cover !important;
    height: 800px;
}

.jax3 {
    background: url('../img/iStock/background/portfolio-sm.jpg') center !important;
    background-size: cover !important;
    height: 700px;
}

#portfolio-lg {
    background: url('../img/iStock/background/portfolio-sm.jpg') center center fixed !important;
    -webkit-background: cover !important;
    -moz-background: cover !important;
    background-size: cover !important;
    height: 800px;
}


.jax4 {
    background: url('../img/iStock/background/about-sm.jpg') center !important;
    background-size: cover !important;
    height: 700px;
}

#about-lg {
    background: url('../img/iStock/background/about-sm.jpg') center center fixed !important;
    -webkit-background: cover !important;
    -moz-background: cover !important;
    background-size: cover !important;
    height: 800px;
}




.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 100px;


}


.gofetch-jumbo {
    color: #ffffff;


}

.section-h1 {
    text-shadow: 0 2px 4px #000;
    color: #fff;
    margin-top: 50px;


}

.gofetch-btn-lg-top {
    background-color: #fa0808;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-shadow: 0 1px 2px #333333;
}

.gofetch-btn-lg {
    background-color: #fa0808;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-shadow: 0 1px 2px #333333;
}

.seo-lg {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0 0 5px 1px #fff;
    border: solid 1px #009dea;
    padding:5px;
    height: 50px;

}


.gofetch-container {
    color: #fa0808;
    margin-bottom: 20px;
    text-shadow: 0 1px 2px #ffffff;

}


.gofetch-container-responsive {
    background-color: rgba(250,8,8,.85);
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 0 1px 2px #333;

}

.jumbotron.responsive-jumbo {
    background-color: #fa0808;
    padding: 10px;

}


/* Home Page END
==============================================*/



/*==============================================================================================================================*/

/* Services Page
==============================================*/


.services-h1 {
    font-size: 3.5em;
}


.reasons-box {
    background: url('../img/thunderbolt-red-700.png') no-repeat center center;
    padding: 60px 80px;
    border-radius: 25px;
    height: 480px;
    width: 600px;
}

.next-box {
    margin-top: 100px;
}

.next-box-1 {
    margin-top: 300px;
}


.steps-box{
    background: url('../img/macbook-blue.png') no-repeat center center;
    padding: 70px 120px;
    width: 600px;
    height: 480px;
}

.last-box {
    padding: 20px 50px;
}


.h3-top-2 {
    padding-top: 20px;
}

.p-top {
    margin-top: 20px;
}

.gfw-logo {
    border: 1px solid #fff;
    background-color: #009dea;
}

.thunderbolt-lg {
    background: url('../img/thunderbolt-1200.png') no-repeat center center;
    height: 1000px;
}
.thunderbolt-lg-text {
    margin: 100px 50px 0;
}



/* Services Page END
==============================================*/



/* Services Page Mobile -xs-
==============================================*/



.reasons-box-xs {
    background: url('../img/ipad-port-250.png') no-repeat center center;
    padding: 40px 40px;
    width:300px;
    height: 396px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.reasons-box-sm {
    background: url('../img/ipad-port-500.png') no-repeat center center;
    padding: 100px;
    width:500px;
    height: 660px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.iphone-xs {
    background: url('../img/iphone5-300.png') no-repeat center center;
    padding: 100px 45px;
    width:300px;
    height: 621px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.iphone-sm {
    background: url('../img/iphone5-500.png') no-repeat center center;
    padding: 160px 70px;
    width:500px;
    height: 1035px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

/* Services Page Mobile -xs-   END
==============================================*/


/*==============================================================================================================================*/




/* Portfolio Page
==============================================*/
.password-color {
    color:#000000;
}

.tyler {
    background-color: #009dea;

}

.customer-lg {
    border-radius: 20px;

}



/* Portfolio Page END
==============================================*/

/* Portfolio Page Mobile -xs-
==============================================*/



input#marjory-xs {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

input#marjory-2-xs {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

input#red-velvet-xs {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

input#tyler-xs {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.white {
    color: #fff;
}


.customer-xs {
    border-radius: 20px;
    max-height: 200px;
    max-width: 200px;
}
/* Portfolio Page Mobile -xs-   END
==============================================*/


/*==============================================================================================================================*/



/* About Page
==============================================*/


.team-member {
    border: solid 2px #ffffff;
    border-radius: 20px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

    margin-top: 50px;
    margin-bottom: 50px;
}

.team-member-lg {
    border: solid 2px #ffffff;
    border-radius: 20px;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

    margin-top: 50px;
    margin-bottom: 50px;
    height: 240px;
}

.team-h4 {
    margin-top: -10px;
}

/* About Page END
==============================================*/

/* About Page Mobile -xs-
==============================================*/

/*.member-details {
    border: 1px solid red;
    display: inline-block;
}*/

/* About Page Mobile -xs-   END
==============================================*/



/*==============================================================================================================================*/



/* Sales Page
==============================================*/

/* Sales Page END
==============================================*/

/* Sales Page Mobile -xs-
==============================================*/

/* Sales Page Mobile -xs-   END
==============================================*/


/*==============================================================================================================================*/

.new {
    background-color: #009dea;
    height: 500px;
    width: 500px;
    margin: 10px;
}

.blah {
    margin-top: 100px;
}


