---
title: Commercial Real Estate Portsmouth
description: Commercial real estate in Portsmouth, NH. Located very close to downtown with plenty of parking.
keywords: rent office portsmouth nh, portsmouth nh, office for rent, downtown portsmouth office for rent, greenleaf woods office, commercial real estate portsmouth nh
heading: Commercial Real Estate in Portsmouth
jumbo-line-1: Providing convenient Portsmouth office space with parking, amenities, and a great location.
jumbo-line-2: Convenience, Location, Parking, and Amenities
btn1: Contact Us
btn1-id: contactUs
btn2: See More
btn2-id: seeMore
---

{{> jumbotron }}

{{> customer-quote }}

<div id="chime-value">
    <div class="container">
        <div class="row">
            <div class="col-md-3 valuebox">
                <div class="value-header">
                    Convenience
                </div>
                <div class="value-text">
                    Easy access to downtown services, shopping, and restaurants - both Portsmouth and the Route 1 area.
                    Seacoast Sports Club is located right next door for a convenient work out.
                </div>
            </div>
            <div class="col-md-3 valuebox">
                <div class="value-header">
                    Location
                </div>
                <div class="value-text">
                    Located 5 minutes from downtown Portsmouth, 5 minutes from I-95, and within 1 mile of great restaurants, shopping, and commercial services.
                </div>
            </div>
            <div class="col-md-3 valuebox">
                <div class="value-header">
                    Parking
                </div>
                <div class="value-text">
                    Of course, downtown Portsmouth is great, but parking is always a problem.
                    Greenleaf Woods has plenty of parking and quick access to Route 1, downtown, and I-95.
                </div>
            </div>
            <div class="col-md-3 valuebox">
                <div class="value-header">
                    Office Space
                </div>
                <div class="value-text">
                    Flexible commercial office space with 720 ft<sup>2</sup> and 1400 ft<sup>2</sup> units available.
                </div>
            </div>
        </div>
    </div>
</div>

{{> contact-form }}

<script>
    $(function(){
        var page = $('#main-nav').children();
        $(page[0]).addClass('active');
    });
</script>