---
title: Portsmouth Office Rent
description: Portsmouth office for rent. Office is close to downtown with plenty of parking and amenities.
keywords: rent office portsmouth nh, portsmouth nh, office for rent, downtown portsmouth office for rent, greenleaf woods office park, commercial office
heading: Portsmouth Office for Rent
jumbo-line-1: Providing convenient Portsmouth office space with parking, amenities, and a great location.
jumbo-line-2: Parking, Location, Convenience, and Amenities
btn1: Contact Us
btn1-id: contactUs
btn2: See More
btn2-id: seeMore
---

{{> jumbotron }}

{{> customer-quote }}

<div id="chime-value">
    <div class="container">
        <div class="row">
            <div class="col-md-3 valuebox borderbox">
                <div class="value-header">
                    Parking
                </div>
                <div class="value-text">
                    Downtown Portsmouth is great, but parking is always a problem.
                    Greenleaf Woods has tons of parking and quick access to Route 1, downtown, and I-95.
                </div>
            </div>
            <div class="col-md-3 valuebox borderbox">
                <div class="value-header">
                    Location
                </div>
                <div class="value-text">
                    Located just 5 minutes from downtown Portsmouth, 5 minutes from I-95, and within 1 mile of great restaurants, shopping, and commercial services.
                </div>
            </div>
            <div class="col-md-3 valuebox borderbox">
                <div class="value-header">
                    Convenience
                </div>
                <div class="value-text">
                    Quick and easy access to downtown services, shopping, and restaurants for both Portsmouth and the Route 1 area.
                    Seacoast Sports Club is located within the complex for a convenient work out.
                </div>
            </div>
            <div class="col-md-3 valuebox">
                <div class="value-header">
                    Office Space
                </div>
                <div class="value-text">
                    Flexible commercial office space with 1400 ft<sup>2</sup> and 720 ft<sup>2</sup> units available.
                </div>
            </div>
        </div>
    </div>
</div>

{{> contact-form }}

<script>
    $(function(){
        var page = $('#main-nav').children();
        $(page[0]).addClass('active');
        $('body').addClass('homepage');
    });
</script>