---
title: Rent Office Portsmouth NH
description: Rent an office in Portsmouth, NH. Close to downtown with plenty of parking.
keywords: rent office portsmouth nh, portsmouth nh, office for rent, downtown portsmouth office for rent, greenleaf woods office
heading: Rent an Office in Portsmouth, NH
jumbo-line-1: Providing convenient Portsmouth office space with parking, amenities, and a great location.
jumbo-line-2: Location, Parking, and Convenience
btn1: Contact Us
btn1-id: contactUs
btn2: See More
btn2-id: seeMore
---

{{> jumbotron }}

{{> customer-quote }}

<div id="chime-value">
    <div class="container">
        <div class="row">
            <div class="col-md-3 valuebox">
                <div class="value-header">
                    Location
                </div>
                <div class="value-text">
                    Located 5 minutes from downtown Portsmouth, 5 minutes from I-95, and within 1 mile of great restaurants, shopping, and commercial services.
                </div>
            </div>
            <div class="col-md-3 valuebox">
                <div class="value-header">
                    Convenience
                </div>
                <div class="value-text">
                    Easy access to both downtown and all of the services, shopping, and restaurants of both Portsmouth and the Route 1 area.
                    Seacoast Sports Club is located within the complex for a convenient work out.
                </div>
            </div>
            <div class="col-md-3 valuebox">
                <div class="value-header">
                    Parking
                </div>
                <div class="value-text">
                    Of course, downtown Portsmouth would be great, but parking is always a problem.
                    Greenleaf Woods has plenty of parking and quick access to Route 1, downtown, and I-95.
                </div>
            </div>
            <div class="col-md-3 valuebox">
                <div class="value-header">
                    Office Space
                </div>
                <div class="value-text">
                    Flexible commercial office space with single offices, 720 sq foot units, and larger 1400 square foot units.
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        var page = $('#main-nav').children();
        $(page[0]).addClass('active');
    });
</script>