---
title:
description:
keywords:
---

<div class="hidden" id="building-ss">
    <a class="fancybox" data-fancybox-group="building-ss" href="{{assets}}/img/contact.png" title="2"></a>
    <a class="fancybox" data-fancybox-group="building-ss" href="{{assets}}/img/contact.png" title="3"></a>
</div>