---
title: Contact Us
description: Rent an office in Portsmouth, NH. Close to downtown with plenty of parking.
keywords: rent office portsmouth nh, portsmouth nh, office for rent, downtown portsmouth office for rent, greenleaf woods office
---

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 well">
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1">
                    <p><span class="fa fa-envelope"></span> E-mail: <a href="mailto:pholdings@gopeachtree.com">pholdings@gopeachtree.com</a> </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="text-center" id="form-title">Contact Us for More Information</h2>
                    <form id="ajax-contact" method="post" action="http://macgregorthompson.com/mailer.php">
                        <div class="field">
                            <input type="hidden" name="interest" id="interest" value="general">
                        </div>
                        <div class="field">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" required>
                        </div>

                        <div class="field">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required>
                        </div>

                        <div class="field">
                            <label for="phone">Phone:</label>
                            <input type="text" id="phone" name="phone" required>
                        </div>

                        <div class="field">
                            <label for="message">Message:</label>
                            <textarea id="message" name="message" required></textarea>
                        </div>

                        <div class="field">
                            <button type="submit" value="submit" id="submitForm" class="btn btn-default instant-btn contact-button">
                                Submit
                                <i class="fa fa-send"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4 hidden-xs">
                    <img src="{{assets}}/img/form_bot.png" alt="form-bot">
                </div>
            </div>
            <div id="form-messages"></div>
        </div>
    </div>
</div>

<script>
    $(function(){
        var page = $('#main-nav').children();
        $(page[2]).addClass('active');
        $('#contact-form').remove();
    });
</script>