body {
    height: 4000px;
    background-color: #000000;
}




/*--Mobile -xs -sm
=============================================================================================================================*/

/*--first-section
=====================================================================================*/




/*--first-section END
=====================================================================================*/

/*--second-section
=====================================================================================*/




/*--second-section END
=====================================================================================*/

/*--third-section
=====================================================================================*/




/*--third-section END
=====================================================================================*/

/*--fourth-section
=====================================================================================*/



/*--fourth-section END
=====================================================================================*/

/*--Mobile -xs -sm END
=============================================================================================================================*/















/*--Desktop -md -lg
============================================================================================================================*/


/*--first-section
=====================================================================================*/
#first-section {

    height: 1000px;
}




/*--first-section END
=====================================================================================*/


/*--second-section
=====================================================================================*/


#second-section {
    background: url('../img/gym-2.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
}




/*--second-section END
=====================================================================================*/

/*--third-section
=====================================================================================*/


#third-section {
    background: url('../img/gym-3.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
}





/*--third-section END
=====================================================================================*/

/*--fourth-section
=====================================================================================*/


/*#third-section {
    background: url('../img/gym-2.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1000px;
}*/




/*--fourth-section END
=====================================================================================*/

/*--Desktop -md -lg  END
============================================================================================================================*/