---
title:
description:
keywords:
category:
pageOrder:
---

<div class="modal fade" id="contact-form" tabindex="-1" role="dialog" aria-labelledby="form-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{{assets}}/img/green2.png" class="navbar-brand" alt="Greenleaf Woods">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="text-center" id="form-title">Contact Us for More Information</h3>
                <form id="ajax-contact" method="post" action="http://macgregorthompson.com/mailer.php">
                    <div class="field">
                        <input type="hidden" name="interest" id="interest" value="general">
                    </div>
                    <div class="field">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="field">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="field">
                        <label for="phone">Phone:</label>
                        <input type="text" id="phone" name="phone" required>
                    </div>
                    <div class="field">
                        <label for="message">Message:</label>
                        <textarea id="message" name="message" required></textarea>
                    </div>
                    <div class="field">
                        <button role="button" type="submit" value="submit" id="submitForm" class="btn btn-default instant-btn contact-button">
                            Submit
                            <i class="fa fa-send"></i>
                        </button>
                    </div>
                    <div id="form-messages"></div>
                </form>
            </div>
        </div>
    </div>
</div>